<%- include("patials/header");-%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <label for="">Tittle</label>
  <br>
  <input type="text" name="tittle" value="" width="100"><br>
  <label for="">Post</label><br>
  <textarea name="body" rows="5" cols="100"></textarea><br>
  <button  class="btn btn-dark" type="submit" name="button">Compose</button>

</form>

<%- include("patials/footer"); -%>
